body{
    background-color: hsla(53, 33%, 80%, 0.678);
}

hr{
   background-color: lightblue;
   height: 2px;
}
#first{
width: 600px;
}
#second{
    width: 600px;
}

#thirth{
    width: 800px;
    
}
#fourth{
    width: 1500px;
}
.atp{
    margin: 50px 50px 0 50px;
    display: block;
    width: min-content;
}
.Wimbledon{
    width: min-content;
    display: block;
   margin-left: auto;
   margin-top: -120px;
   padding-right:50px;
}
.srbija{
    display: block;
    width: min-content;
    margin: -180px auto 0 auto;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-size:  3em;
    color: rgb(35, 170, 170) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.prva{
text-align: center;
}
h2{
    text-align: center;
    font-size: 2.4rem;
    color: rgb(73, 156, 156);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#druga{
    text-align: center;
}

p{
    font-size: 1.2em;
    color: rgb(29, 95, 73);
    margin: 20px auto 0px auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 2px solid rgb(84, 173, 144);
    width: 800px;
    line-height: 25px;

    padding: 20px 20px 20px 20px;
}
footer {
    border: dashed rgb(60, 126, 104);
    width: max-content;
    margin: 50px auto 0 auto;
    padding: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
h3 {
    color: rgb(31, 87, 68);
    
}
a{
    color:rgb(29, 141, 104); 
}
.center{
    text-align: center ;
    list-style-position: inside;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(63, 145, 117);
    font-size: 16px;
    line-height: 40px;
   

}
h4{
  text-align: center;
  padding-left: 36px;
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(73, 141, 117);
}